*{
    padding: 0;
    margin: 0;
}
header{
    background-image: url(../images/banner/banner3.png);
    width: 100%;
    /* background-position: center; */
     background-repeat: no-repeat;
    /* margin-bottom: 100px; */ 
    background-size: contain;
}
.banner {
    text-align: right;
    padding-top: 160px;
    padding-bottom: 170px;
    padding-right: 68px;
    padding-left: 585px;
}
.banner >  h3{
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 65px;
    color: #ffffff;

}
.banner >  p{
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 0 20px 150px;

}

.banner >  button{
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #005FAC;
    padding: 15px 10px;
    background-color: #ffffff;
    border-radius: 7px;
    border: none;

}
.about{
    display: flex;
    margin: 0 150px;
    margin-bottom: 50px;
    
}
.about-img img{
    width: 200%;
}
.about-txt{
    text-align: justify;
    padding-top: 150px;
    
}
.about-txt h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #151414;
    padding-right: 138px;
    padding-bottom: 30px;
    margin-left: 330px;
}
.about-txt p{
   
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-right: 120px;
    padding-bottom: 20px;
    margin-left: 330px;
    
}
.about-txt ul li{
   
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding-bottom: 10px;
    margin-left: 350px;
    
}
.service{
    margin: 50px 0;
}
.service-heading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;
}
.services{
    display: inline-flex;
    margin-left: 60px;
}
.service-all{
    padding: 0 38px;
    text-align: center;
}
.service-all h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    padding-bottom: 10px;
    
}
.service-all p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #737272;
    padding-bottom: 10px;
    
}


























/* 
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Send Flowers', cursive;
font-family: 'Work Sans', sans-serif;
*/